<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div  class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor= "let currentRecipe of recipes">
      <div class="pull-left">
        <h4 class="List-group-item-heading">{{currentRecipe.name}}</h4>
        <p class="list-group-item-text">{{currentRecipe.description}}</p>
      </div>
      <div class="pull-right">
        <img [src]="currentRecipe.imagePath" 
        alt="{{currentRecipe.imagePath}}" class="img-responsive" style="max-height: 50px">
      </div>
    </a>
  </div>
  <app-recipe-item></app-recipe-item>
</div>

